header {
  padding: 0.5rem;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 20%,
    rgba(7, 175, 218, 1) 20%,
    rgba(7, 175, 218, 1) 32%,
    rgba(139, 195, 60, 1) 32%,
    rgba(139, 195, 60, 1) 44%,
    rgba(84, 99, 172, 1) 44%,
    rgba(84, 99, 172, 1) 56%,
    rgba(235, 12, 140, 1) 56%,
    rgba(235, 12, 140, 1) 68%,
    rgba(246, 143, 29, 1) 68%,
    rgba(246, 143, 29, 1) 80%,
    rgba(255, 255, 255, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );

  nav {
    width: 5rem;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    background-image: url("../../images/titlestrip.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 99999;

    .but-settings-toggle,
    .back-home-button,
    .back-cat {
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0.7;
      font-size: 2rem;

      &:disabled {
        opacity: 0.2;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }
}
