.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  max-width: 1360px;
  margin: 0 auto;
}

.categories__item {
  background-color: rgba(54, 54, 54, 0.3);
  width: 150px;
  background-image: url("../../images/bottomStripes.png");
  background-repeat: repeat-x;

  a {
    color: white;
    display: flex;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
  }
  img {
    display: none;
  }
}

@media (min-width: 768px) {
  .categories__item {
    width: 200px;
    img {
      display: block;
    }
  }
}

@media (min-width: 1920px) {
  .categories {
    gap: 2rem;
    padding: 3rem;
    max-width: 1920px;
  }

  .categories__item {
    width: 250px;
  }
}
