.indicators {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 5px;
  justify-content: center;
  position: absolute;
  top: -15px;

  li {
    width: 20px;
    height: 20px;
    background-color: rgba(219, 190, 190, 0.45);
  }
}

@media (min-width: 768px) {
  .indicators {
    left: calc(50% - 122px);
    top: 101%;
  }
}

@media (min-width: 1024px) {
  .indicators {
    left: calc(50% - 122px);
    top: 100%;
  }
}

@media (min-width: 1920px) {
  .indicators {
    top: 98%;

    li {
      width: 30px;
      height: 30px;
      background-color: rgba(219, 190, 190, 0.45);
    }
  }
}
