#settings__toggle {
  display: none;
}

#settings__toggle:checked ~ .settings {
  display: block;
}

.settings {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 999;
  display: none;
  min-width: 300px;
  max-width: 400px;
  padding: 1rem;
  background-color: rgba(246, 143, 29, 1);
  box-shadow: 0px 0px 50px 90px #363636d7;
  transition: 0.5s;
  i {
    font-size: 1.5rem;
    color: white;
  }

  .settings__close-button {
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
  }

  input[type="range"] {
    width: 100%;
  }

  .settings__list {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0.25rem;
    grid-row-gap: 0.25rem;

    button {
      width: 1.5rem;
      height: 1.5rem;
    }

    & > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      background-color: #57574f38;
      transition: 0.3s;
      &[data-disabled="true"] {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    [data-muted="true"] {
      opacity: 0.2;
    }

    .settings__music {
      grid-area: 1 / 1 / 2 / 2;
    }

    .settings__music-toggle {
      grid-area: 1 / 2 / 2 / 3;
    }

    .settings__effects {
      grid-area: 2 / 1 / 3 / 2;
    }

    .settings__effects-toggle {
      grid-area: 2 / 2 / 3 / 3;
    }

    .settings__timer {
      grid-area: 3 / 1 / 4 / 2;
    }
    .settings__timer-toggle {
      grid-area: 3 / 2 / 4 / 3;
    }
    .settings__language {
      grid-area: 4 / 1 / 5 / 3;
    }

    .settings__answer-time {
      text-align: center;
      width: 2rem;
    }

    .settings__block-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    label[name="off"] {
      display: block;
    }

    label[name="on"] {
      display: none;
    }

    #settings__toggle-timer:checked ~ label[name="off"] {
      display: none;
    }

    #settings__toggle-timer:checked ~ label[name="on"] {
      display: block;
    }
  }
}

@media (min-width: 768px) {
  .settings {
    box-shadow: 0px 0px 50px 1000px #363636d7;
    bottom: 1rem;
    right: 1rem;
    .settings__list {
      grid-column-gap: 0.5rem;
      grid-row-gap: 0.5rem;
    }
  }
}

@media (min-width: 1024px) {
  .settings {
    box-shadow: 0px 0px 50px 2000px #363636d7;
    bottom: 2rem;
    right: 2rem;
  }
}

@media (min-width: 1920px) {
}
