.indicators {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 999;
  font-size: 2rem;

  .indicator__item {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .indicators {
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
  }
}
